In [1]:
my_dog=2

In [2]:
my_dog

2

Best practive to have all variable names are lower case
All Global variables are all UPPER case
Avoid list, str, tuple

Dynamic Typing: Meaning, you can re-assign variables to different data types. This makes python very flexible in assigning data types, this is different than other languages that are "Statically-Typed".

In [1]:
'Example'
myvar = 10
print(myvar)
myvar = ['preethi','Kadhar', 'Raju']
print(myvar)

10
['preethi', 'Kadhar', 'Raju']

In [5]:
a=5

In [6]:
a

5

In [4]:
a=10

In [5]:
a

10

In [6]:
a+a

20

In [7]:
a = a + a

In [8]:
a

20

In [9]:
type (a)

int

In [10]:
a = 30.1

In [19]:
type(a)

float

In [20]:
int = 4

In [21]:
type(int)

int

In [12]:
my_income =100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [13]:
my_taxes

10.0

__id()__ This method returns the memory address of the the variable assigned.

In [14]:
id(my_income)

4342907104